html {
    background-color: rgb(34, 34, 34);
}
body{
    background-color: rgba(0, 0, 0, 0.281);
    color: #f8f8f8a4;
}

.card{
    margin: 1cm  3px;
    background-color: #201c29a6;
    color: #f8f8f8a4;
}
    .card:hover{
        background-color: white !important;
    }
.col{
    justify-content: center;
}

.navbar-brand.mb-0.h1 {
    font-size: 24px;
}

.wrapper{
    min-height: 100vh;
}
